.titillium-web-regular {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.source-sans-3-300 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.source-sans-3-400 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
