<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row flex-container">
      <div class="col-md-9 left-content">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" href="">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>
        <% @mlogs.each do |mlog| %>
          <div class="article-preview">
            <%= link_to mlog_path(mlog), class: "preview-link" do %>
              <h1><%= mlog.title %></h1>
              <p><%= mlog.description %></p>
              <div class="tuika-flex">
          <span>Read more...</span>

              </div>
            <% end %>
            <ul class="tag-list">
              <% mlog.tags.split(',').each do |tag| %>
          <li class="tag-default tag-pill tag-outline"><%= tag.strip %></li>
              <% end %>
            </ul>
          </div>
        <% end %>




        <div class="publish-article-button">
          <button class="btn btn-lg pull-xs-right btn-primary" type="button" onclick="location.href='/mlogs/new'">
            Create Article
          </button>
        </div>

      </div>

      <div class="col-md-3 right-content">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="" class="tag-pill tag-default">programming</a>
            <a href="" class="tag-pill tag-default">javascript</a>
            <a href="" class="tag-pill tag-default">emberjs</a>
            <a href="" class="tag-pill tag-default">angularjs</a>
            <a href="" class="tag-pill tag-default">react</a>
            <a href="" class="tag-pill tag-default">mean</a>
            <a href="" class="tag-pill tag-default">node</a>
            <a href="" class="tag-pill tag-default">rails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
